<a href="https://colab.research.google.com/github/refelim/algorism/blob/main/240420pyalgo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
sen = "Hellow, world    how are you?"

words = sen.split(" ")
print(words)

['Hellow,', 'world', '', '', '', 'how', 'are', 'you?']

# 1의 갯수 반환

## 리스트의 길이가 0인 경우 0을 반환해주세요

In [14]:
def solution(data) :
    return ''.join(map(str, data)).count('1')
    # map 함수를 사용하여 리스트 data의 각 요소를 문자열로 변환합니다. 이후 join 메서드를 사용하여 각 문자열을 하나의 문자열로 연결합니다.
    # 문자열에서 count 메서드를 사용하여 문자 "1"의 등장 횟수를 세어 반환합니다.
    # ''.join을 활용해서 활용해서 위 단계를 결합하여, 리스트의 각 요소를 문자열로 변환한 후 문자열에서 "1"의 등장 횟수를 세어 반환합니다.

data = [1,11,111,1111]
solution(data)

10

In [17]:
words = ['Hello', 'world', '!']
sentence = "@".join(words)
print(sentence)

Hello@world@!

In [18]:
def soluiton(data) :
    return str(data).count('1') # 1 조건에 맞는 요소 변환
    # str()함수를 사용하여 입력된 data를 문자열을 변환합니다. 숫자나 리스트 등 다양한 데이터 타입이 들어올 수 있습니다.
    # 변환된 문자열에서 count() 메서드를 사용하여 문자 '1'의 등장 횟수를 세어 반환합니다.

In [20]:
# count는 문자열에서 특정 문자의 개수를 세어 반환합니다.
my_string = "hello world"
count_e = my_string.count('e')
print(count_e)

1

# 문자열 덧셈

## 문자열의 숫자를 모두 더하는 solution 함수를 완성해주세요

In [27]:
def solution(data) :
    return sum(map(int, filter(str.isdigit, data)))

data = '1herer2gfa3'

solution(data)

     # 1 문자열 필터링
    # filter 함수를 사용하여 주어진 리스트 data에서 숫자로만 이루어진 문자열을 찾습니다. str.isdigit함수는 문자열이 모두 숫자인지 여부를 판단하는 함수
    # map 함수를 사용하여 이전 단계에서 필터링한 숫자로만 이루어진 문자열을 int로 변환합니다.

6

In [29]:
def solution(data) :
    return sum(map(int, [i for i in data if i.isdigit()]))

In [34]:
# map 함수는 주어진 함수를 순회 가능한 객체의 요소에 적용하여 새로운 리스트를 반환합니다.
numbers = [1,2,3,4,5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

# 우선 순위

## 업무 우선순위에 따라 업무 이름을 출력

입력 [['A', 3], ['B', 1], ['C', 2]]

출력 ['B', 'C', 'A']

In [35]:
def solution(data) :
    return [i[0] for i in sorted(data, key=lambda x: x[1])]

data = [['A', 3], ['B', 1], ['C', 2]]

    # sorted() 함수 data 리스트를 두 번째 요소를 기준으로 정렬합니다. key 매개변수에 전달된 람다 함수는 각 요소의 두 번째 요소를 기준으로 정렬을 수행합니다.
    # in 에도 sorted 함수 사용 가능

In [37]:
def solution(data):
    sorted_data = sorted(data, key=lambda x : x[1]) # 1 정렬된 데이터
    return list(x[0] for x in sorted_data ) # 2 리스트 생성

solution(data)
    # 정렬된 데이터 입력 데이터인 data를 sorted() 함수를 사용하여 정렬합니다. 여기서 정렬 기준은 두 번째 요소인 x[1]로 지정되었습니다
    # 리스트 생성, 정렬된 데이터에서 각 요소의 첫 번째 요소를 추출하여 새로운 리스트를 생성합니다

['B', 'C', 'A']

# 두 점 사이의 거리

## 두 점 사이가 가장 짧은 쌍을 출력하는 solution 함수를 완성해주세요

출력 [1, 3, 4, 6]
입력 [3, 4]

In [53]:
def solution(data) :
    x = list(zip(data, data[1:])) # 1 리스트 및 zip()함수
    return list(sorted(x, key=lambda x: abs(x[1] - x[0]))[0]) #2 sorted() 함수 절댓 값

solution([1, 3, 4, 6])

[3, 4]

1. 리스트 및 zip()함수

    zip 함수를 사용하여 입력 데이터의 인접한 요소들을 묶습니다. zip(data, data[1:]는 각 요소와 그 다음 요소를 튜플로 묶은 이터레이터를 생성합니다.

2. sorted() 함수 및 차이의 절댓값

    sorted() 함수를 사용하여 인접한 요소 쌍을 차이의 절댓값을 기준으로 정렬합니다.

    람다 함수 lambda x : abs(x[1] - x[0])를 사용하여 각 요소 쌍의 차이의 절댓값을 기준으로 정렬합니다. 따라서 가장 작은 차이를 가진 쌍이 리스트의 맨 앞에 위치하게 됩니다. 정렬된 결과 중 가장 차이를 가진 쌍을 선택합니다. 이 쌍은 리스트의 맨 앞에 위치하므로 인덱서 0을 사용하여 선택합니다.

In [54]:
# 풀이 2. min()함수

def solution(data):
    sorted_data = sorted(data)
    print(sorted_data)
    return list(min(zip(sorted_data, sorted_data[1:]), key=lambda x: \
                    abs(x[0] - x[1])))

# 함수 호출 시 data 변수에 값을 전달합니다.
data = [1, 3, 4, 6]
solution(data)

[1, 3, 4, 6]

[3, 4]