<a href="https://colab.research.google.com/github/refelim/algorism/blob/main/240419pyalgo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 더하기
## 홀수를 찾아서 합을 반환하는 함수를 완성해주세요

In [10]:
# 조건부 필터링

def solution(data) : # 함수 정의
    return sum(filter(lambda x: x%2, data)) # 짝인 것을 거르고 나머지를 더합니다.


data = [1,2,3,4,5]
solution(data)

9

In [14]:
def solution(data) :
    return sum([ i for i in data if i % 2 !=0 ])

solution

# 곱하기

## 주어진 리스트를 모두 곱하는 solution 함수를 완성해주세요

In [23]:
def solution(data) :
    numbers = 1
    for i in data :
        numbers *= i
    return numbers
data = [1,2,3,4,5]
solution(data)

120

In [24]:
def solution(data) : # 1 함수 정의
    if not data : # 2 빈 리스트 정리
        return 0
    result = 1 # 초기값 설정

    for x in data : # 리스트 순회 및 곱셈 연산
        if x == 0 : # x가 0이면 0이 나옴
            return 0
        result *= x
    return result

solution(data)

120

In [29]:
def solution(data) :
    count = 1
    if data == [] :
        return 0
    else :
        for i in data :
            count *= i
        return count

solution(data)

120

In [ ]:
score = 75

if score >= 90:
    print("A 학점 입니다")
elif score >= 80 :
    print("B 학점")
else :
    print("D or F")

# 조건 덧셈

## 3과 5의 배수를 제외한 모든 수를 더하는 함수를 완성해주세요

In [33]:
def solution(data) :
    return sum(filter(lambda x: x % 3 and x% 5, data))
data = [1,2,3,4,5]
solution(data)

7

In [34]:
def solution(data) :
    return sum(i for i in data if i % 3 != 0 and i % 5 != 0)
solution(data)

7

# 문자열 추출

추출해서 사칙연산 하세요

In [37]:
def solution(data) :
    result = 0 # 1 결과값을 저장 할 변수 초기화
    for i, s in enumerate(data) : # 2 리스트 순회
        number = int(s.split(" ")[1].replace("개",""))
        i += 1 # 4 결과 값 계산
        result += i * number
    return result

data =  ['쿠키 3개','쿠키 2개','쿠키 5개']
solution(data)

22

In [44]:
def solution(data) :
    cookies = [i.split()[1][:-1] for i in data] # 각 문자열에서 숫자 추출
    print(cookies)
    result = 0 # 2 결과 값을 저장할 변수 초기화
    for order, cookie in enumerate(cookies, 1) : # 3 리스트 순회
        result += order * int(cookie) # 4 결과값 계산
    return result

solution(data)

['3', '2', '5']

22

In [49]:
sentence = "Hello, world, How are you?"
words = sentence.split()
print(words)

['Hello,', 'world,', 'How', 'are', 'you?']

In [61]:
def solution(data):
    result = 0
    for i, j in enumerate(data) :
        number = int(j.split(" ")[1].replace("개",""))
        i += 1
        result += i * number

    return result

data =  ['쿠키 3개','쿠키 2개','쿠키 5개']
solution(data)

22