# 게임 벨런스 조절

## 모든 능력치의 합이 350이상이 되는 캐릭터의 이름을 출력하는 solution 함수를 출력해주세요

출력 : [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]

입력 : ['Licat']

In [ ]:
# 리스트 컴프리 헨션

def solution(data) :
    return sorted([i[0]for i in data if sum(i[1:]) >= 350])

data = [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]
solution(data)

['Licat']

1. 정렬리스트
    이 코드는 입력 데이터에서 능력치 합이 350 이상인 캐릭터의 이름을 찾아서 정렬된 리스트로 반환홥니다.
2. 리스트 컴프리헨션
    능력치 합이 350 이상인 캐릭터의 이름을 한 번에 추출합니다. 이후에는 결과를 정렬하여 반환하므로 효율적 입니다.

In [ ]:
# 2 filter() 함수

def solution(data) :
    filtered_list = list(filter(lambda x: x[1]+x[2]+x[3]+x[4] >= 350, data))

    sorted_list =sorted([i[0] for i in filtered_list])
    return sorted_list

solution(data)

[['Licat', 98, 92, 85, 97]]

['Licat']

# 평균 점수 카운팅

평균 점수가 80점 이상인 인원이 얼마나 되는지 카운팅하는 solution함수를 완성해주세요.

입력 : [[98, 92, 85], [95, 32, 51], [98, 98, 51]]

출력 : 2

In [ ]:
# sum()함수
def solution(data) :
    return sum(1 for row in data if sum(row[:3]) >= 180 )

data = [[98, 92, 85], [95, 32, 51], [98, 98, 51]]
solution(data)

2

In [ ]:
# map() 함수
def solution(data) :
    return len(list(filter(lambda x:x >= 240, map(sum,data))))

data = [[98, 92, 85], [95, 32, 51], [98, 98, 51]]
solution(data)

2

# 우편 번호 정렬

우편번호 목록이 딕셔너리 형태로 주어질 때 에서 우편번호 오름차순 순서대로 주소를 정렬하는 코드를 작성해주세요.

입력 : [['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'], {'A동': 63007, 'B동': 63010, 'C동': 63002}]

출력 : ['제주시 C동 사라봉길 31', '제주시 A동 한라산길 61', '제주시 B동 백록담길 63']

In [ ]:
# split 함수

def solution(data) :
    return sorted(data[0], key = lambda x : data[1][x.split()[1]])

In [ ]:
# enumerate 함수

def solution(data) :
    key2idx = {idx:val for idx, val in enumerate(data[1].values())}
    rearranged = sorted(key2idx.items(), key=lambda x : x[1])
    res = [data[0][i] for i, _ in rearranged]
    return res


data = [['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'], {'A동': 63007, 'B동': 63010, 'C동': 63002}]
solution(data)

{0: 63007, 1: 63010, 2: 63002}
[(2, 63002), (0, 63007), (1, 63010)]

['제주시 C동 사라봉길 31', '제주시 A동 한라산길 61', '제주시 B동 백록담길 63']

# 도서관 책 연도별 정렬

라이캣을 도와 주어진 책들을 발행 연도가 오래된 순서대로 정렬하는 코드를 작성해주세요. 발행 연도가 같은 경우에는 제목의 사전순으로 정렬하세요.

입력 : [['Moby Dick', 'To Kill a Mockingbird', '1984'], {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}]

출력 : ['Moby Dick', '1984', 'To Kill a Mockingbird']

In [ ]:
def solution(data) :
    return sorted(data[0], key = lambda x : data[1][x])

data =  [['Moby Dick', 'To Kill a Mockingbird', '1984'], {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}]
solution(data)

['Moby Dick', 'To Kill a Mockingbird', '1984']

['Moby Dick', '1984', 'To Kill a Mockingbird']

In [ ]:
# key 파라미터 정렬
def solution(data) :
    books, publish_years = data
    return sorted(books, key = lambda book : (publish_years[book], book))

data =  [['Moby Dick', 'To Kill a Mockingbird', '1984'], {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}]
solution(data)

['Moby Dick', '1984', 'To Kill a Mockingbird']

(publish_years[book], book)는 첫 번째로 출판연도로 기준을 하고, 두 번째로는 출판연도가 같다면 출판연도 다음 책으로 기준을 삼는다.

In [ ]:
# get 메서드

def solution(data) :
    return sorted(data[0], key = lambda x : (data[1].get(x), x))

data =  [['Moby Dick', 'To Kill a Mockingbird', '1984'], {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}]
solution(data)

['Moby Dick', '1984', 'To Kill a Mockingbird']