# 도서관 책 위치 정렬

책의 위치 코드와 해당 위치 코드에 대응하는 책의 제목이 딕셔너리 형태로 주어질 때, 위치 코드 순으로 책의 제목을 정렬하는 코드를 작성해주세요.

출력 : {'AX21': 'Moby Dick', 'BX32': '1984', 'CX14': 'To Kill a Mockingbird'}

위치 : ['Moby Dick', '1984', 'To Kill a Mockingbird']

In [ ]:
# keys() 메서드
def solution(data) :
    sorted_data = sorted(data.keys()) # key값 정렬
    return [data[i] for i in sorted_data] # value 반환



data = {'AX21': 'Moby Dick', 'BX32': '1984', 'CX14': 'To Kill a Mockingbird'}
solution(data)

['Moby Dick', '1984', 'To Kill a Mockingbird']

key 값 정렬

data의 key값을 오름차순으로 정렬합니다. keys()메서드는 딕셔너리의 key를 기준으로 정렬한다는 의미

value 반환

sorted_data 에서 key에 해당하는 value 값만 뽑아내어 리스트를 생성

In [ ]:
# items() 메서드

def solution(data) :

    sorted_data = sorted(data.items(), key = lambda x: x[0]) #  items 정렬

    return [i[1] for i in sorted_data]

data = {'AX21': 'Moby Dick', 'BX32': '1984', 'CX14': 'To Kill a Mockingbird'}
solution(data)

[('AX21', 'Moby Dick'), ('BX32', '1984'), ('CX14', 'To Kill a Mockingbird')]

['Moby Dick', '1984', 'To Kill a Mockingbird']

items 정렬

data를 오름차순으로 정렬합니다. items 메서드는 딕셔너리의 모든 key-value 쌍을 뜻합니다. 정렬 기준은 x[0]으로 key임을 알 수 있습니다

# 시간표 정렬

시간들을 24시간제로 변환한 뒤, 오름차순으로 정렬하는 코드를 작성해주세요.

출력 : ['01:00 PM', '11:30 AM', '12:45 PM', '09:00 AM', '12:00 AM']

입력 : ['12:00 AM', '09:00 AM', '11:30 AM', '12:45 PM', '01:00 PM']

In [ ]:
# 문자열 메서드

def solution(times) :

    def convert_time(time) :
        hh, mm, ampm = time.split(" ")[0].split(":") + time.split(" ")[1:]

        if ampm == "PM" and hh != "12" :
            hh = str(int(hh) + 12)
        elif ampm == "AM" and hh == "12" :
            hh = "00"

        return hh + ":" + mm + " " + ampm

    return sorted(times, key=convert_time)

solution(['01:00 PM', '11:30 AM', '12:45 PM', '09:00 AM', '12:00 AM'])

['12:00 AM', '09:00 AM', '11:30 AM', '12:45 PM', '01:00 PM']

A. return sorted(times, key=convert_time) 때문에, for문을 돌리지 않고

convert_time에 times의 요소가 하나하나 들어가서

hh, mm, ampm = time.split(" ")[0].split(":") + time.split(" ")[1:] 이 코드가 성립된다

B. 위에서 밑으로 함수 실행이 순서대로 되는게 아니라 부모 함수 먼저 실행 한 후에 진행한다.

In [ ]:
from datetime import datetime

def solution(data) :

    converted_times = [(datetime.strptime(time, "%I:%M %p").strftime('%H:%M'), time) for time in data]
    sorted_times = sorted(converted_times) #4 정렬
    result = [time[1] for time in sorted_times]
    return result

solution(['01:00 PM', '11:30 AM', '12:45 PM', '09:00 AM', '12:00 AM'])

[('13:00', '01:00 PM'), ('11:30', '11:30 AM'), ('12:45', '12:45 PM'), ('09:00', '09:00 AM'), ('00:00', '12:00 AM')]
[('00:00', '12:00 AM'), ('09:00', '09:00 AM'), ('11:30', '11:30 AM'), ('12:45', '12:45 PM'), ('13:00', '01:00 PM')]

['12:00 AM', '09:00 AM', '11:30 AM', '12:45 PM', '01:00 PM']

1. strptime로 문자열을 datetime 객체로 변환

2. strftime메서드로 datetime을 문자열로 변환

3. converted_times는 (변환된 시간 형식, 원본 형식)

4. sorted_times로 변환된 시간 형식으로 오름차순 정렬

# 휴가 입력

 휴가는 '일-월-연', '월/일/연', '연.월.일' 등 다양한 형식으로 뮤라에게 전달되었습니다. 이 날짜들을 '연/월/일' 형식으로 변환한 후, 오름차순으로 정렬하는 코드를 작성해주세요.

 입력 : ['20-01-2024', '12/15/2023', '2022.05.30']

 출력 : ['2022/05/30', '2023/12/15', '2024/01/20']

In [ ]:
# 문자열 메서드

def solution(dates) :
    def convert_date(date) :

        if "-" in date:
            day, month, year = date.split("-")
        elif "/" in date:
            month, day, year = date.split("/")
        else :
            year, month, day = date.split(".")

        return year, month, day

    converted_dates = [convert_date(date) for date in dates]
    sorted_dates = sorted(converted_dates)

    return ["/".join(date) for date in sorted_dates]

dates = ['20-01-2024', '12/15/2023', '2022.05.30']
solution(dates)

['2022/05/30', '2023/12/15', '2024/01/20']

1. converted_dates = [convert_date(date) for date in dates] 에서
solution에 들고온 dates를 가져와서 convert_date(date)로 넣는다

그 이후로 순차적으로 실행한다

In [ ]:
# 2. datedtime 모듈

from datetime import datetime

def solution(data) :
    result = []
    for i in data :
        if '-' in i :
            date_format = '%d-%m-%Y'
        elif '/' in i :
            date_format = '%m/%d/%Y'
        else :
            date_format = '%Y.%m.%d'

        date = datetime.strptime(i, date_format)
        result.append(date)

    result.sort()

    return [i.strftime('%Y/%m/%d') for i in result ]

data = ['20-01-2024', '12/15/2023', '2022.05.30']

solution(data)

2024-01-20 00:00:00
2023-12-15 00:00:00
2022-05-30 00:00:00

['2022/05/30', '2023/12/15', '2024/01/20']

### Q. 질문

    date가

    2024-01-20 00:00:00

    2023-12-15 00:00:00

    2022-05-30 00:00:00 이렇게 나오는데

    ##################

    2024-01-20 00:00:00

    2023/12/15 00:00:00

    2022.05.30 00:00:00 나오는게 정상 아닌가요?


### A. 네, 맞습니다.

    datetime.strptime() 함수를 사용하여 날짜 문자열을 datetime 객체로 변환할 때, 원래의 날짜 형식이 유지되는 것이 아니라 datetime 객체의 기본 표현 형식으로 변환됩니다.

    기본적으로 datetime 객체는 YYYY-MM-DD HH:MM:SS 형식으로 표현됩니다.

    따라서 date = datetime.strptime(i, date_format)로 변환된 후에는 모든 날짜가 YYYY-MM-DD HH:MM:SS 형식으로 표시되는 것이 정상입니다.