이 리스트에 있는 각 항목의 데이터 타입을 확인하고, 해당 타입의 이름을 문자열로 반환하는 코드를 작성해주세요.


입력 (데이터 리스트) [123, 4.56, 'hello', [1, 2, 3], (4, 5), {'a': 1, 'b': 2}]


출력 (타입 이름 리스트)	['int', 'float', 'str', 'list', 'tuple', 'dict']

In [ ]:
# 데이터 타입 확인과 타입 이름 반환

def solution(data) :
    return [type(item).__name__for item in data]

In [1]:
# 리스트 컴프리헨션 사용

def solution(data) :
    return [str(type(idx)).split("'")[1] for idx in data]

# 결과 타입 문자열에서 타입 이름만 추출합니다. 타입 문자열은 <class 'int'>, <class 'str'>등의 형태로 반환되므로, '로 split 하여 타입 이름만 가져옵니다

solution([123, 4.56, 'hello', [1, 2, 3], (4, 5), {'a': 1, 'b': 2}])

['int', 'float', 'str', 'list', 'tuple', 'dict']