# 가장 높은 온도를 기록한 상위 3일을 찾아 'YY-MM-D:온도' 형식으로 반환하는 코드를 작성해주세요

입력 : {'2024-01-01': 15, '2024-01-02': 17, '2024-01-03': 16, '2024-01-04': 20, '2024-01-05': 19, '2024-01-06': 21, '2024-01-07': 18}

출력 : ['24-01-06: 21', '24-01-04: 20', '24-01-05: 19']

In [4]:
# lambda 함수

def solution(temperature_data) :
    temp_list = [(temp, date) for date, temp in temperature_data.items()]
    temp_list.sort(key = lambda x : (-x[0], x[1]))
    top_three = temp_list[:3]
    return [f"{date[2:]} : {temp}" for temp, date in top_three]

temperature_data = {'2024-01-01': 15, '2024-01-02': 17, '2024-01-03': 16, '2024-01-04': 20, '2024-01-05': 19, '2024-01-06': 21, '2024-01-07': 18}
solution(temperature_data)

['24-01-06 : 21', '24-01-04 : 20', '24-01-05 : 19']

In [10]:
# 조건문

def solution(data) :
    if 7 <= len(data) :
        sorted_tmp = sorted(data.items(), key = lambda x: x[1], reverse = True)
        top3_list = [f'{day}: {tmp}' for day, tmp in sorted_tmp][:3]

        changed_str = []
        for x in top3_list  :
            x = x[2:]
            changed_str.append(x)
        return changed_str
    else :
        msg = '잘못 입력하셨습니다. 기온 데이터를 최소 7개에서 30개까지 입력 바랍니다.'
        return msg

data = {'2024-01-01': 15, '2024-01-02': 17, '2024-01-03': 16, '2024-01-04': 20, '2024-01-05': 19, '2024-01-06': 21, '2024-01-07': 18}
solution(data)

['24-01-06: 21', '24-01-04: 20', '24-01-05: 19']